{%extends 'main.html'%}
      
{%load static %}
{%block content%}
      
<main class="main about">

        <div class="page-header page-header-bg text-left"
            style="background: 50%/cover #D4E1EA url({%static 'assets/images/page-header-bg.jpg'%});">
            <div class="container">
                <h1><span>ABOUT US</span>
                    OUR COMPANY</h1>
                <a href="{%url 'contact'%}" class="btn btn-dark">Contact</a>
            </div><!-- End .container -->
        </div><!-- End .page-header -->

        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{%url 'home' %}"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </div><!-- End .container -->
        </nav>

        <div class="about-section">
            <div class="container">
                <h2 class="subtitle">OUR STORY</h2>
                <p>Every great brand begins with a simple idea — to make life better, smarter, and more beautiful through the products we love. Our journey started with a vision: to create an online destination where quality meets convenience, and style meets affordability.

                What began as a small passion project soon grew into a thriving eCommerce platform trusted by customers worldwide. From our early days packing orders by hand to now curating collections from top brands and independent creators, our mission has remained the same — to deliver value, trust, and inspiration in every purchase..</p>


                <p>We believe shopping should be more than just a transaction. It’s an experience — one that connects people, products, and purpose. That’s why every item we offer is carefully selected for its quality, design, and ability to bring joy to your everyday life.

                    Today, we’re proud to serve a growing community of customers who share our belief that great things come from passion, innovation, and integrity.</p>

                <p class="lead"> “What drives us isn’t just selling products — it’s building a lifestyle that inspires confidence and connection.”

                Welcome to our story. Welcome to [Paris eCommerce] — where your journey begins. ”</p>
            </div><!-- End .container -->
        </div><!-- End .about-section -->

        <div class="features-section bg-gray">
            <div class="container">
                <h2 class="subtitle">WHY CHOOSE US</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="feature-box bg-white">
                            <i class="icon-shipped"></i>

                            <div class="feature-box-content p-0">
                                <h3>Free Shipping</h3>
                                <p>Enjoy the freedom of shopping without extra costs. At [Paris eCommerce], we offer free shipping on all eligible orders so you can focus on finding what you love — not worrying about delivery fees.

                                    Our team ensures your items are carefully packed and shipped on time, reaching your doorstep quickly and safely. Because great service shouldn’t come with a price tag.

                                    Shop more. Save more. We deliver — free and fast.</p>
                            </div><!-- End .feature-box-content -->
                        </div><!-- End .feature-box -->
                    </div><!-- End .col-lg-4 -->

                    <div class="col-lg-4">
                        <div class="feature-box bg-white">
                            <i class="icon-us-dollar"></i>

                            <div class="feature-box-content p-0">
                                <h3>100% Money Back Guarantee</h3>
                                <p>Your satisfaction is our top priority. That’s why we stand behind every product with a 100% Money Back Guarantee.

                                    If you’re not completely satisfied with your purchase, simply return it within the return period — no questions asked. We’ll process your refund quickly and make things right.

                                    Shop confidently knowing you’re fully protected..
                                </p>


                            </div><!-- End .feature-box-content -->
                        </div><!-- End .feature-box -->
                    </div><!-- End .col-lg-4 -->

                    <div class="col-lg-4">
                        <div class="feature-box bg-white">
                            <i class="icon-online-support"></i>

                            <div class="feature-box-content p-0">
                                <h3>Online Support 24/7</h3>
                                <p>We’re always here when you need us. Our 24/7 online support team is ready to assist you with any questions, concerns, or issues — anytime, anywhere.

                                    Whether it’s about your order, product information, or general inquiries, our dedicated team ensures you get fast, friendly, and reliable help every time.

                                    Your satisfaction matters — we’re just a message away.</p>
                            </div><!-- End .feature-box-content -->
                        </div><!-- End .feature-box -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .features-section -->

        <div class="testimonials-section">
            <div class="container">
                <h2 class="subtitle text-center">HAPPY CLIENTS</h2>

                <div class="testimonials-carousel owl-carousel owl-theme images-left" data-owl-options="{
                    'margin': 20,
                    'lazyLoad': true,
                    'autoHeight': true,
                    'dots': false,
                    'responsive': {
                        '0': {
                            'items': 1
                        },
                        '992': {
                            'items': 2
                        }
                    }
                }">
                    <div class="testimonial">
                        <div class="testimonial-owner">
                            <figure>
                                <img src="{%static 'assets/images/clients/client1.png'%}" alt="client">
                            </figure>

                            <div>
                                <strong class="testimonial-title">Moses Edet</strong>
                                <span>AJEBO PHOTOGRAPHY CEO</span>
                            </div>
                        </div><!-- End .testimonial-owner -->

                        <blockquote>
                            <p>"I absolutely love shopping here! The products arrived quickly, were exactly as described, and the customer service went above and beyond to help me. I’ll definitely be coming back for more!".</p>
                        </blockquote>
                    </div><!-- End .testimonial -->

                   
                    
                </div><!-- End .testimonials-slider -->
            </div><!-- End .container -->
        </div><!-- End .testimonials-section -->

        <div class="counters-section bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 count-container">
                        <div class="count-wrapper">
                            <span class="count-to" data-fromvalue="0" data-tovalue="200" data-duration="2000"
                                data-append="+">0</span>
                        </div><!-- End .count-wrapper -->
                        <h4 class="count-title">MILLION CUSTOMERS</h4>
                    </div><!-- End .col-md-4 -->

                    <div class="col-6 col-md-4 count-container">
                        <div class="count-wrapper">
                            <span class="count-to" data-fromvalue="0" data-tovalue="1800" data-duration="2000"
                                data-append="+">0</span>
                        </div><!-- End .count-wrapper -->
                        <h4 class="count-title">TEAM MEMBERS</h4>
                    </div><!-- End .col-md-4 -->

                    <div class="col-6 col-md-4 count-container">
                        <div class="count-wrapper line-height-1">
                            <span class="count-to" data-fromvalue="0" data-tovalue="24" data-duration="2000"
                                data-append="HR">0</span>
                        </div><!-- End .count-wrapper -->
                        <h4 class="count-title">SUPPORT AVAILABLE</h4>
                    </div><!-- End .col-md-4 -->

                    <div class="col-6 col-md-4 count-container">
                        <div class="count-wrapper">
                            <span class="count-to" data-fromvalue="0" data-tovalue="265" data-duration="2000"
                                data-append="+">0</span>
                        </div><!-- End .count-wrapper -->
                        <h4 class="count-title">SUPPORT AVAILABLE</h4>
                    </div><!-- End .col-md-4 -->

                    <div class="col-6 col-md-4 count-container">
                        <div class="count-wrapper line-height-1">
                            <span class="count-to" data-fromvalue="0" data-tovalue="99" data-duration="2000"
                                data-append="%">0</span>
                        </div><!-- End .count-wrapper -->
                        <h4 class="count-title">SUPPORT AVAILABLE</h4>
                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .counters-section -->
    </main><!-- End .main -->
{%endblock%}
      