
{%extends 'main.html'%}
{%load multiply%}


{%block  content%}

<main class="main">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="demo1.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Men</a></li>
                <li class="breadcrumb-item active" aria-current="page">Accessories</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-lg-9 mb-1">
                <div class="home-slider category-home-slider owl-carousel owl-theme owl-carousel-lazy" data-owl-options="{
                    'nav': false
                }">
                    <div class="home-slide home-slide1 banner banner-md-vw banner-sm-vw d-flex align-items-center">
                        <img class="owl-lazy slide-bg" src="assets/images/lazy.png" style="background-color: #71b5da;" data-src="assets/images/demoes/demo1/banners/banner-4.jpg" width="880" height="280" alt="category-banenr">
                        <div class="banner-layer">
                            <h4 class="text-white mb-0">Find the Boundaries. Push Through!</h4>
                            <h2 class="text-white mb-0">Summer Sale</h2>
                            <h3 class="text-white text-uppercase m-b-3">30% Off</h3>
                            <h5 class="text-white text-uppercase d-inline-block mb-0 ls-n-20 align-text-bottom">
                                Starting At <b class="coupon-sale-text bg-white text-secondary d-inline-block">$<em
                                        class="align-text-top">199</em>99</b></h5>
                            <a href="{%url 'shop'%}" class="btn btn-dark btn-md">GET YOURS!</a>
                        </div>
                        <!-- End .banner-layer -->
                    </div>
                    <!-- End .home-slide -->

                    <div class="home-slide home-slide2 banner banner-md-vw banner-sm-vw d-flex align-items-center">
                        <img class="owl-lazy slide-bg" src="assets/images/lazy.png" data-src="assets/images/demoes/demo1/banners/banner-5.jpg" width="880" height="280" alt="category-banenr">
                        <div class="banner-layer text-uppercase">
                            <h4 class="m-b-2">Over 200 products with discounts</h4>
                            <h2 class="m-b-3">Great Deals</h2>
                            <h5 class="d-inline-block mb-0 align-top mr-3 mb-2">Starting At
                                <b>$<em>299</em>99</b>
                            </h5>
                            <a href="{%url 'shop'% }" class="btn btn-dark btn-md">Get Yours!</a>
                        </div>
                        <!-- End .banner-layer -->
                    </div>
                    <!-- End .home-slide -->

                    <div class="home-slide home-slide3 banner banner-md-vw banner-sm-vw  d-flex align-items-center">
                        <img class="owl-lazy slide-bg" src="assets/images/lazy.png" data-src="assets/images/demoes/demo1/banners/banner-6.jpg" width="880" height="280" alt="category-banenr" />
                        <div class="banner-layer text-uppercase">
                            <h4 class="m-b-2">Up to 70% off</h4>
                            <h2 class="m-b-3">New Arrivals</h2>
                            <h5 class="d-inline-block mb-0 align-top mr-4 pr-3 mb-2 ml-0">Starting At
                                <b>$<em>299</em>99</b>
                            </h5>
                            <a href="{%url 'shop'%}" class="btn btn-dark btn-md">Get Yours!</a>
                        </div>
                        <!-- End .banner-layer -->
                    </div>
                    <!-- End .home-slide -->
                </div>
                <!-- End .home-slider -->

                <nav class="toolbox sticky-header mt-2" data-sticky-options="{'mobile': true}">
                    <div class="toolbox-left">
                        <a href="#" class="sidebar-toggle"><svg data-name="Layer 3" id="Layer_3"
                                viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <line x1="15" x2="26" y1="9" y2="9" class="cls-1"></line>
                                <line x1="6" x2="9" y1="9" y2="9" class="cls-1"></line>
                                <line x1="23" x2="26" y1="16" y2="16" class="cls-1"></line>
                                <line x1="6" x2="17" y1="16" y2="16" class="cls-1"></line>
                                <line x1="17" x2="26" y1="23" y2="23" class="cls-1"></line>
                                <line x1="6" x2="11" y1="23" y2="23" class="cls-1"></line>
                                <path
                                    d="M14.5,8.92A2.6,2.6,0,0,1,12,11.5,2.6,2.6,0,0,1,9.5,8.92a2.5,2.5,0,0,1,5,0Z"
                                    class="cls-2"></path>
                                <path d="M22.5,15.92a2.5,2.5,0,1,1-5,0,2.5,2.5,0,0,1,5,0Z" class="cls-2"></path>
                                <path d="M21,16a1,1,0,1,1-2,0,1,1,0,0,1,2,0Z" class="cls-3"></path>
                                <path
                                    d="M16.5,22.92A2.6,2.6,0,0,1,14,25.5a2.6,2.6,0,0,1-2.5-2.58,2.5,2.5,0,0,1,5,0Z"
                                    class="cls-2"></path>
                            </svg>
                            <span>Filter</span>
                        </a>
                        <form method="GET">
        
                            <div class="toolbox-item toolbox-sort">
                                <label>Sort By:</label>

                                <div class="select-custom">
                                    <select name="orderby" class="form-control" onchange="this.form.submit()">

                                        <option value="menu_order" {%if request.GET.orderby == "menu_order"%}selected{%endif%}>Default sorting</option>
                                        <option value="is_best_seller" {%if request.GET.orderby == "is_best_seller"%}selected{%endif%}>Sort by popularity</option>
                                        <option value="average_rating" {% if request.GET.orderby == "average_rating" %}selected{% endif %}>Sort by average rating</option>
                                        <option value="date_added" {%if request.GET.orderby == "date_added"%}selected{%endif%}>Sort by newness</option>
                                        <option value="price_asc"{%if request.GET.orderby == "price_asc"%}selected{%endif%}>Sort by price: low to high</option>
                                        <option value="price"{%if request.GET.orderby == "price"%}selected{%endif%}>Sort by price: high to low</option>
                                    </select>
                                </div>
                                <!-- End .select-custom -->


                            </div>
                        </form>
                        <!-- End .toolbox-item -->
                    </div>
                    <!-- End .toolbox-left -->

                    <div class="toolbox-right">
                        <div class="toolbox-item toolbox-show">
                            <label>Show:</label>

                            <div class="select-custom">
                                <select name="count" class="form-control">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>
                            <!-- End .select-custom -->
                        </div>
                        <!-- End .toolbox-item -->

                        <div class="toolbox-item layout-modes">
                            <a href="{%url 'shop' %}" class="layout-btn btn-grid active" title="Grid">
                                <i class="icon-mode-grid"></i>
                            </a>
                            <a href="{%url 'shop' %}" class="layout-btn btn-list" title="List">
                                <i class="icon-mode-list"></i>
                            </a>
                        </div>
                        <!-- End .layout-modes -->
                    </div>
                    <!-- End .toolbox-right -->
                </nav>

                <div class="row products-group">
                    {%for product in products%}
                    <div class="col-6 col-sm-4 col-md-3">
                        <div class="product-default inner-quickview inner-icon">
                            <figure class="img-effect">
                                <a href="{%url 'view' product.id%}">
                                    <img src="{{product.image.url}}" width="205" height="205" alt="product">
                                    <img src="{{product.image.url}}" width="205" height="205" alt="product">
                                </a>
                                <div class="label-group">
                                    {% comment %} <div class="product-label label-hot">HOT</div>                     {% endcomment %}
                                    {%if product.discount%}
                                    <div class="product-label label-sale">-{{product.discount|floatformat:0}}%</div>
                                    {%else%}
                                    <div class=""></div>

                                    {%endif%}
                                </div>

                                <div class="btn-icon-group">
                                    <a href="#" data-product="{{product.id}}" data-action="add" class="btn-icon btn-add-cart product-type-simple"><i
                                            class="icon-shopping-cart"></i></a>
                                </div>
                                
                                {% comment %} <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View
                                </a> {% endcomment %}
                              
                                <!-- End .product-countdown-container -->
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                    <div class="category-list">
                                        <a href="{%url 'shop'%}" class="product-category">{{product.subcategory}}</a>
                                    </div>
                                    <a href="{%url 'wishlist'%}" title="Wishlist" class="btn-icon-wish"><i
                                            class="icon-heart"></i></a>
                                </div>
                                <h3 class="product-title">
                                    <a href="{%url 'view' product.id%}">{{product.name}}</a>
                                </h3>

                                <div class="ratings-container">
                                    
                                    <div class="product-ratings">
                                        {%if product.average_rating%}
                                        {%with width=product.average_rating|floatformat:1|mul:20%}
                                        <span class="ratings" style="width:{{width}}%"></span>
                                        {%endwith%}
                                        {%else%}
                                        <span class="ratings" style="width:0%"></span>
                                        <!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top">{{product.average_rating}}/5</span>
                                        {%endif%}
                                    </div>
                                    <!-- End .product-ratings -->
                                </div>
                                <!-- End .product-container -->

                                <div class="price-box">
                                    {%if product.discount%}
                                        <span class="old-price">&#8358;{{product.price|floatformat:2}}</span>
                                        <span class="product-price">{{product.get_discount_price_product|floatformat:2}}</span>
                                    {%else%}
                                        <span class="old-price">&#8358;</span>
                                        <span class="product-price">{{product.price|floatformat:2}}</span>
                                    {%endif%}
                                </div>
                                <!-- End .price-box -->
                            </div>
                            <!-- End .product-details -->
                        </div>
                    </div>
                    {%endfor%}
                    <!-- End .col-sm-4 -->                   
                </div>
                <!-- End .row -->

                <nav class="toolbox toolbox-pagination">
                    <div class="toolbox-item toolbox-show mb-0">
                        <label>Show:</label>

                        <form action="" method="GET">
                            <div class="select-custom">
                                <select name="page" class="form-control" onchange="this.form.submit()">
                                    {%for num in products.paginator.page_range%}
                                    <option value="{{num}}"> {{num}}</option>
                                    {%endfor%}
                                 
                                </select>
                            </div>
                        
                        </form>
                        <!-- End .select-custom -->
                    </div>
                    <!-- End .toolbox-item -->

                    <ul class="pagination toolbox-item mb-0">
                        
                        {%if products.has_previous%} 
                        <li class="page-item ">
                            <a class="page-link page-link-btn" href="?page=1"><i class="icon-angle-left"></i></a>
                        </li>
                        
                        <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}" >Previous</a></li>
                        {%endif%}
                         
                        {%for num in page_range%}
                            {%if products.number == num%}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{num}} <span class="sr-only">(current)</span></a>
                            </li>
                            {%else%}
                            <li class="page-item">
                                <a class="page-link page-link" href="?page={{num}}">{{num}}</i></a>
                            </li>
                            {%endif%}
        
                        {%endfor%}

                        {%if total_pages > page_range|last%}
                            .....
                            <li class="page-item">
                                <a class="page-link page-link" href="?page={{total_pages}}">{{total_pages}}</i></a>
                            </li>
                        {%endif%}
                      
                       {% comment %} <li class="page-item"> <a class="page-link" href="#">
                            Page {{products.number}} of {{products.paginator.num_pages}}
                       </a></li> {% endcomment %}

                        {%if products.has_next%}
                            <a class="page-link page-link-btn" href="?page={{products.next_page_number}}"><i class="icon-angle-right"></i></a>

                            <li class="page-item">
                                <a class="page-link page-link-btn" href="?page={{products.paginator.num_pages}}">...</i></a>
                            </li>
                        {%endif%}


                        {% comment %} <li class="page-item active">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><span class="page-link">...</span></li>
                        <li class="page-item">
                            <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
                        </li>
                         {% endcomment %}
                    </ul>
                    
                </nav>
            </div>
            <!-- End .col-lg-9 -->

            <div class="sidebar-overlay"></div>
            <aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
                <div class="sidebar-wrapper">
                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">Categories</a>
                        </h3>

                        <div class="collapse show" id="widget-body-2">
                            <div class="widget-body">
                                <ul class="cat-list">
                                    {%for category in categorys%}
                                    <li>
                                        
                                        <a href="#widget-category-1" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="widget-category-1">
                                            {{category.name}}<span class="products-count">({{category.subcategory.count}})</span>
                                            <span class="toggle"></span>
                                        </a>
                                        
                                        <div class="collapse show" id="widget-category-1">
                                            <ul class="cat-sublist">
                                                {%for sub in category.subcategory.all%}
                                                <li>{{sub.name}}<span class="products-count">({{sub.product_count}})</span></li>
                                                {%endfor%}
                                                {% comment %} <li>Watches<span class="products-count">(2)</span></li> {% endcomment %}
                                            </ul>
                                        </div>


                                    </li>
                                    {%endfor%}

                                  
                                </ul>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true" aria-controls="widget-body-3">Price</a>
                        </h3>

                        <div class="collapse show" id="widget-body-3">
                            <div class="widget-body pb-0">
                                <form action="#" method="GET">
                    
                                    <div class="filter-price-action d-flex align-items-center justify-content-between flex-wrap">
                                        <div class="filter-price-text">
                                            Price:
                                            <span id="filter-price-range">₦1000 - ₦100,000</span>
                                            
                                            
                                        </div>
                                        
                                        <input type="hidden" name="min_price" id="min-price">
                                        <input type="hidden" name="max_price" id="max-price">
                                        <!-- End .filter-price-text -->
                                        
                                        <button type="submit" class="btn btn-primary">Filter</button>
                                    </div>
                                    <!-- End .filter-price-action -->
                                    <div class="price-slider-wrapper">
                                        <div id="price-slider"></div>
                                        <!-- End #price-slider -->
                                    </div>

                                    <!-- End .filter-price-action -->
                                </form>
                            </div>
                            <!-- End .widget-body -->
                        </div>

                        
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-color">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true" aria-controls="widget-body-4">Color</a>
                        </h3>

                        <div class="collapse show" id="widget-body-4">
                            <div class="widget-body pb-0">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #000;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #0188cc;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #81d742;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #6085a5;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #ab6e6e;"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-size">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true" aria-controls="widget-body-5">Sizes</a>
                        </h3>

                        <div class="collapse show" id="widget-body-5">
                        
                                <div class="widget-body pb-0">

                                  
                                     <ul class="config-size-list" name="size">
                                        <li class="{%if request.GET.size == 'XXL'%}active {%endif%}"><a href="?size=XXL">XXL</a></li>
                                        <li class="{%if request.GET.size == 'XL'%}active {%endif%}"><a href="?size=XL">XL</a></li>
                                        <li class="{%if request.GET.size == 'L'%}active {%endif%}"><a href="size=L">L</a></li>
                                        <li class="{%if request.GET.size == 'M'%}active {%endif%}"><a href="size=M">M</a></li>
                                        <li class="{%if request.GET.size == 'S'%}active {%endif%}"><a href="size=S">S</a></li>
                                    </ul>
                                </div>
                         
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-featured">
                        <h3 class="widget-title">Featured</h3>

                        <div class="widget-body">
                            <div class="owl-carousel widget-featured-products">
                                <div class="featured-col">
                                  {%for product in is_featured%}
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="{{product.image.url}}" width="75" height="75" alt="product" />
                                                <img src="{{product.image.url}}" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title"> <a href="product.html">{{product.name}} - S</a> </h3>
                                                
                                                
                                            <div class="ratings-container">
                                                
                                                <div class="product-ratings">
                                                    {%if product.average_rating%}
                                                    {%with width=product.average_rating|floatformat:1|mul:20%}
                                                    <span class="ratings" style="width:{{width}}%"></span>
                                                    {%endwith%}
                                                    {%else%}
                                                    <span class="ratings" style="width:0%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top">{{product.average_rating}}/5</span>
                                                    {%endif%}
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                                
                                            
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">&#8358;{{product.price}}</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                    {%endfor%}
                                  
                                </div>
                                <!-- End .featured-col -->

                                {% comment %} <div class="featured-col">
                                    {%for product in is_featured%}
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="assets/images/products/small/product-1.jpg" width="75" height="75" alt="product" />
                                                <img src="assets/images/products/small/product-1-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title"> <a href="product.html">Ultimate 3D
                                                    Bluetooth Speaker</a> </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                    {%endfor%}
                                    
                                </div> {% endcomment %}
                                    <!-- End .featured-col -->
                            </div>
                            <!-- End .widget-featured-slider -->
                        </div>
                        <!-- End .widget-body -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-block">
                        <h3 class="widget-title">Product Guarantee</h3>
                        <h5>Your satisfaction is our priority..</h5>
                        <p style="text-align: justify;">We stand behind the quality of every product we sell. All items are carefully 
                            inspected to ensure they meet our high standards before reaching you. If you 
                            experience any issues with your purchase, you may request a replacement or 
                            return within the specified return period. Our goal is to provide reliable 
                            products and excellent customer support so you can shop with confidence. </p>
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .sidebar-wrapper -->
            </aside>
            <!-- End .col-lg-3 -->
        </div>
        <!-- End .row -->
    </div>
    <!-- End .container -->

    <div class="mb-4"></div>
    <!-- margin -->
</main>
{%endblock content%}
<!-- End .main -->

   